.navbg {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
}

.navbar-toggler:enabled {
  border-color: transparent;
}

.navbar-toggler-icon:enabled {
  color: #ffffff;
}

.button-style-navbar {
  align-content: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1px;
}

.dropdown-item:active {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
}
